<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Arita-buriB.otf</string>
		<string>Arita-buriHL.otf</string>
		<string>Arita-buriL.otf</string>
		<string>Arita-buriM.otf</string>
		<string>Arita-buriSB.otf</string>
		<string>SUIT-Regular.otf</string>
		<string>SUIT-Bold.otf</string>
		<string>SUIT-Medium.otf</string>
		<string>SUIT-SemiBold.otf</string>
		<string>NotoSansKR-Light.ttf</string>
		<string>NotoSansKR-Regular.ttf</string>
		<string>NotoSansKR-Medium.ttf</string>
		<string>NotoSansKR-Bold.ttf</string>
		<string>RIDIBatang.otf</string>
		<string>SUITE-Light.otf</string>
		<string>SUITE-Medium.otf</string>
		<string>ZenMaruGothic-Light.ttf</string>
		<string>ZenMaruGothic-Medium.ttf</string>
		<string>IBMPlexSansJP-Light.ttf</string>
		<string>IBMPlexSansJP-Medium.ttf</string>
		<string>NotoSansJP-Light.ttf</string>
		<string>NotoSansJP-Medium.ttf</string>
		<string>NotoSerifJP-Light.ttf</string>
		<string>NotoSerifJP-Medium.ttf</string>
		<string>NotoSerifJP-Bold.ttf</string>
		<string>IBMPlexSansJP-Regular.ttf</string>
		<string>IBMPlexSansJP-Bold.ttf</string>
		<string>IBMPlexSansJP-SemiBold.ttf</string>
		<string>NotoSansJP-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
